.vscode
preliminary_contest/SDK_C++/bin/CodeCraft-2022
preliminary_contest/SDK_C++/bin/CodeCraft-2022
preliminary_contest/SDK_C++/build/ALL_BUILD.vcxproj
preliminary_contest/SDK_C++/bin/CodeCraft-2022
preliminary_contest/SDK_C++/CodeCraft-2022/src/CodeCraft-2022
preliminary_contest/SDK_C++/CodeCraft-2022.zip
preliminary_contest/SDK_C++/CodeCraft-2022/src/a.exe
preliminary_contest/SDK_python/CodeCraft-2022.zip
preliminary_contest/SDK_python/CodeCraft-2022.zip
preliminary_contest/SDK_python/CodeCraft-2022.zip
preliminary_contest/output/solution.txt
*.zip

